<table hx-get="/timeseries" hx-trigger="load delay:1m" hx-swap="outerHTML">
  <thead>
    <tr>
      <th>Start hour (UTC)</th>
      <th>Cloud cover (octas)</th>
      <th>Temp (°C)</th>
      <th>Precipitation (mm)</th>
      <th>Energy price (SEK/kWh)</th>
      <th>Batt lvl (%)</th>
      <th>Batt net load (kWh)</th>
      <th>Cons. act. (kWh)</th>
      <th>Cons. est. (kWh)</th>
      <th>Prod. act. (kWh)</th>
      <th>Prod. est. (kWh)</th>
      <th>Strategy</th>
    </tr>
  </thead>
  <tbody>
    {{ range . }}
    <tr {{if IsCurrentHour .When}}class="pulse" {{else if IsAfterHour .When}}class="faded" {{end}}>
      <td style="white-space: nowrap;">{{ .When.Date }} - {{ .When.Hour }}</td>
      <td>{{ .CloudCover }}</td>
      <td>{{ OneDecimal .Temperature }}</td>
      <td>{{ TwoDecimals .Precipitation }}</td>
      <td>{{ TwoDecimals .EnergyPrice }}</td>
      <td>{{ NullFloat64 .BatteryLevel }}</td>
      <td>{{ NullFloat64 .BatteryNetLoad }}</td>
      <td>{{ NullFloat64 .Consumption }}</td>
      <td>{{ NullFloat64 .EstimatedConsumption }}</td>
      <td>{{ NullFloat64 .Production }}</td>
      <td>{{ NullFloat64 .EstimatedProduction }}</td>
      <td>{{ .Strategy }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>