:root {
  --bg-color: #f8f9fa;
  --text-color: #202124;
  --panel-bg: #ffffff;
  --border-color: #dadce0;
  --highlight-color: #e64a19;
  --padding: 20px;
  --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #121212;
    --text-color: #e0e0e0;
    --panel-bg: #1e1e1e;
    --border-color: #333333;
    --highlight-color: #ff6e40;
    --box-shadow: 0 2px 5px rgba(128, 128, 128, 0.2);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.5;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--padding);
  padding: 10px var(--padding);
}

main {
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding) 50px var(--padding);
}

#menu-container {
  position: relative;
  display: inline-block;
  align-items: baseline;
}

#menu-button {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  svg {
    fill: var(--text-color);
  }
}

#menu-dropdown {
  position: absolute;
  top: 0;
  left: 100%;
  padding: 0;
  background: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  min-width: 200px;
  z-index: 1000;
  display: none;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

#menu-dropdown.visible {
  display: block;
}

.menu-item {
  padding: 1rem 1.5rem;
  font-size: large;
  white-space: nowrap;
  display: block;
  width: 100%;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  text-align: left;
  &:not(&:last-child) {
    border-bottom: 0.5px solid var(--border-color);
  }
}
.menu-item:hover,
.menu-item:focus {
  background-color: var(--panel-bg);
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: small;
}

th {
  background-color: var(--panel-bg);
  font-weight: bold;
}

th,
td {
  border: 1px solid var(--border-color);
  padding: 5px;
  text-align: left;
}

tbody > tr:hover {
  background-color: var(--panel-bg);
}

tr.pulse > td {
  color: var(--highlight-color);
  animation: pulse 1.5s ease-in-out infinite;
}

tr.faded > td {
  opacity: 0.5;
}

#real_time_data td:first-child {
  font-weight: bold;
}

#dashboard {
  display: flex;
  flex-direction: row;
  gap: var(--padding);
  padding-bottom: 20px;
}

#real_time_data {
  min-width: 300px;
}

.chart_container {
  height: 100%;
  width: 400px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  padding: 10px var(--padding);
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--panel-bg);
  border-top: 1px solid var(--border-color);
  font-size: x-small;

  > *:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -3px;
    top: 50%;
    height: 70%;
    width: 1px;
    background-color: var(--border-color);
    transform: translateY(-50%);
  }

  > * {
    position: relative;
    padding: 0 8px;
  }

  a {
    color: var(--text-color);
  }
}

@media (max-width: 768px) {
  #dashboard {
    flex-direction: column;
  }
  #chart_container {
    width: 100%;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
